# Project: Retail Business Data Analysis Using Numpy and Pandas

Name: Harshita Pandey

In [64]:
import pandas as pd

In [65]:
import numpy as np

# Task 1:

In [66]:
# Loading dataset:

data = pd.read_csv("retail_dataset.csv", na_values=[" "])
df = pd.DataFrame(data)
df

,Transaction ID,Customer ID,Product Category,Quantity,Price,Date,Region
0,T001,C015,Books,7.0,167.0,02-02-2023,North
1,T002,C004,Toys,4.0,374.0,17-02-2023,South
2,T003,C033,Furniture,8.0,1059.0,17-05-2024,South
3,T004,C047,Groceries,5.0,304.0,11-02-2024,South
4,T005,C022,Books,7.0,282.0,27-07-2024,West
...,...,...,...,...,...,...,...
95,T096,C036,Furniture,10.0,2901.0,08-08-2023,North
96,T097,C021,Clothing,9.0,1077.0,19-07-2024,North
97,T098,C015,Clothing,7.0,643.0,13-08-2023,North
98,T099,C005,Groceries,9.0,429.0,20-01-2024,South
99,T100,C010,Furniture,8.0,1183.0,07-02-2024,North

In [67]:
# Printing dataset before cleaning:

print("dataset before cleaning:")
print(df.head())

# Printing missing values before cleaning the dataset:

print("missing values before cleaning:\n", df.isnull().sum())

dataset before cleaning:
  Transaction ID Customer ID Product Category  Quantity   Price        Date  \
0           T001        C015            Books       7.0   167.0  02-02-2023
1           T002        C004             Toys       4.0   374.0  17-02-2023
2           T003        C033        Furniture       8.0  1059.0  17-05-2024
3           T004        C047        Groceries       5.0   304.0  11-02-2024
4           T005        C022            Books       7.0   282.0  27-07-2024

  Region
0  North
1  South
2  South
3  South
4   West
missing values before cleaning:
 Transaction ID      0
Customer ID         0
Product Category    0
Quantity            2
Price               5
Date                0
Region              0
dtype: int64

In [68]:
#copy:

df_cleaned = df.copy()

In [69]:
# Replacing missing values with mean:

df_cleaned['Quantity'] = df_cleaned['Quantity'].fillna(df_cleaned['Quantity'].mean())

above, we saw that only 2 columns(quantity and price) have missing values as: quantity-2 and price-5

In [70]:
df_cleaned['Price'] = df_cleaned['Price'].fillna(df_cleaned['Price'].mean())

In [71]:
# Dropping the rows with missing product category and region:

df_cleaned = df_cleaned.dropna(subset=['Product Category', 'Region'])

In [72]:
print("dataset after cleaning:")
print(df_cleaned.head())

# Printing missing values after cleaning the dataset:

print("missing values after cleaning:\n", df_cleaned.isnull().sum())

dataset after cleaning:
  Transaction ID Customer ID Product Category  Quantity   Price        Date  \
0           T001        C015            Books       7.0   167.0  02-02-2023
1           T002        C004             Toys       4.0   374.0  17-02-2023
2           T003        C033        Furniture       8.0  1059.0  17-05-2024
3           T004        C047        Groceries       5.0   304.0  11-02-2024
4           T005        C022            Books       7.0   282.0  27-07-2024

  Region
0  North
1  South
2  South
3  South
4   West
missing values after cleaning:
 Transaction ID      0
Customer ID         0
Product Category    0
Quantity            0
Price               0
Date                0
Region              0
dtype: int64

# Task 2:

In [73]:
# Creating revenue column:

df['Revenue'] = df['Quantity'] * df['Price']

In [74]:
# Total revenue:

total_revenue = np.sum(df['Revenue'])

In [75]:
print("Dataset with Revenue column:\n", df.head(10))

Dataset with Revenue column:
   Transaction ID Customer ID Product Category  Quantity   Price        Date  \
0           T001        C015            Books       7.0   167.0  02-02-2023
1           T002        C004             Toys       4.0   374.0  17-02-2023
2           T003        C033        Furniture       8.0  1059.0  17-05-2024
3           T004        C047        Groceries       5.0   304.0  11-02-2024
4           T005        C022            Books       7.0   282.0  27-07-2024
5           T006        C042      Electronics      10.0   866.0  28-12-2024
6           T007        C022        Furniture       3.0  2340.0  09-04-2023
7           T008        C023         Clothing       7.0   881.0  14-11-2024
8           T009        C008      Electronics       8.0   780.0  26-12-2024
9           T010        C003        Furniture       5.0  1617.0  30-06-2024

  Region  Revenue
0  North   1169.0
1  South   1496.0
2  South   8472.0
3  South   1520.0
4   West   1974.0
5   West   8660.0
6   East   7020.0
7   West   6167.0
8   East   6240.0
9  North   8085.0

In [76]:
print("Total Revenue:", total_revenue)

Total Revenue: 462851.0

# Task 3:

In [77]:
# group by product category and calculate total revenue

category_revenue = df.groupby('Product Category')['Revenue'].sum().sort_values()
print("Revenue by Product Category:\n", category_revenue)

Revenue by Product Category:
 Product Category
Groceries       16850.0
Books           26523.0
Beauty          28691.0
Sports          44229.0
Toys            45270.0
Electronics     83358.0
Clothing        89086.0
Furniture      128844.0
Name: Revenue, dtype: float64

In [78]:
# Top 3 categories:

top = category_revenue.head(3)
print("Top 3 Product Categories:\n", top)

Top 3 Product Categories:
 Product Category
Groceries    16850.0
Books        26523.0
Beauty       28691.0
Name: Revenue, dtype: float64

In [79]:
# Bottom 3 categories:

bottom = category_revenue.tail(3)
print("Bottom 3 Product Categories:\n", bottom)

Bottom 3 Product Categories:
 Product Category
Electronics     83358.0
Clothing        89086.0
Furniture      128844.0
Name: Revenue, dtype: float64

#  Task 4:

In [80]:
#Group by region and calc total revenue

region_revenue = df.groupby('Region')['Revenue'].sum().sort_values(ascending=False)
print("Revenue by Region:\n", region_revenue)

Revenue by Region:
 Region
North    155132.0
East     128827.0
South     98515.0
West      80377.0
Name: Revenue, dtype: float64

In [81]:
# Region with highest revenue

print(region_revenue.head(1))

Region
North    155132.0
Name: Revenue, dtype: float64

In [82]:
#region with lowest revenue

print(region_revenue.tail(1))

Region
West    80377.0
Name: Revenue, dtype: float64

# Task 5:

In [83]:
# Convert Date to datetime format

df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

In [84]:
# extracting year and month from this

df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month

print(df.head(10))

  Transaction ID Customer ID Product Category  Quantity   Price       Date  \
0           T001        C015            Books       7.0   167.0 2023-02-02
1           T002        C004             Toys       4.0   374.0 2023-02-17
2           T003        C033        Furniture       8.0  1059.0 2024-05-17
3           T004        C047        Groceries       5.0   304.0 2024-02-11
4           T005        C022            Books       7.0   282.0 2024-07-27
5           T006        C042      Electronics      10.0   866.0 2024-12-28
6           T007        C022        Furniture       3.0  2340.0 2023-04-09
7           T008        C023         Clothing       7.0   881.0 2024-11-14
8           T009        C008      Electronics       8.0   780.0 2024-12-26
9           T010        C003        Furniture       5.0  1617.0 2024-06-30

  Region  Revenue  Year  Month
0  North   1169.0  2023      2
1  South   1496.0  2023      2
2  South   8472.0  2024      5
3  South   1520.0  2024      2
4   West   1974.0  2024      7
5   West   8660.0  2024     12
6   East   7020.0  2023      4
7   West   6167.0  2024     11
8   East   6240.0  2024     12
9  North   8085.0  2024      6

In [85]:
# grouping by year and month and calc total revenue

monthly_revenue = df.groupby(['Year', 'Month'])['Revenue'].sum().reset_index()
print("Monthly Revenue:\n", monthly_revenue)

Monthly Revenue:
     Year  Month  Revenue
0   2023      1  24226.0
1   2023      2   5017.0
2   2023      3   4184.0
3   2023      4  36269.0
4   2023      6  10834.0
5   2023      7   7968.0
6   2023      8  67718.0
7   2023      9   8511.0
8   2023     10  11448.0
9   2023     11   6492.0
10  2023     12   2653.0
11  2024      1  19768.0
12  2024      2  28011.0
13  2024      3   6373.0
14  2024      4  20209.0
15  2024      5  27915.0
16  2024      6  27101.0
17  2024      7  28951.0
18  2024      8   9240.0
19  2024      9  18926.0
20  2024     10  30649.0
21  2024     11  18658.0
22  2024     12  41730.0

In [86]:
# Group by Customer ID and calculate total revenue per customer

customer_revenue = df.groupby("Customer ID")["Revenue"].sum().reset_index()

In [87]:
customer_revenue

   Customer ID  Revenue
0         C001   3381.0
1         C002   2145.0
2         C003  16527.0
3         C004   5454.0
4         C005   4200.0
5         C006   6827.0
6         C007  11448.0
7         C008  16212.0
8         C009  13100.0
9         C010  24181.0
10        C011   7476.0
11        C012   4500.0
12        C013   5481.0
13        C014   4620.0
14        C015  16959.0
15        C016  12630.0
16        C017   5824.0
17        C018  39264.0
18        C019    305.0
19        C020   3264.0
20        C021   9693.0
21        C022  37256.0
22        C023   7354.0
23        C024   2007.0
24        C025  18362.0
25        C026  17496.0
26        C028  15258.0
27        C029  19249.0
28        C030   1855.0
29        C031   3784.0
30        C033   8472.0
31        C034   4632.0
32        C035   9240.0
33        C036  29010.0
34        C038    750.0
35        C039      0.0
36        C041   6399.0
37        C042  10631.0
38        C043  17272.0
39        C045   1924.0
40        C046   6183.0
41        C047   2844.0
42        C048   3552.0
43        C049  13300.0
44        C050  12530.0

In [88]:
# Sort the customers by revenue in descending order

customer_revenue_sorted = customer_revenue.sort_values(by="Revenue", ascending=False)

In [89]:
# Get the top 5 customers

print(customer_revenue_sorted.head(5))

   Customer ID  Revenue
17        C018  39264.0
21        C022  37256.0
33        C036  29010.0
9         C010  24181.0
27        C029  19249.0

## calculating Mean, Median and Standard Deviation of Transaction Revenue:

In [90]:
# Calculate Revenue for the cleaned dataset

df_cleaned['Revenue'] = df_cleaned['Quantity'] * df_cleaned['Price']

# Extract the revenue column as a NumPy array

revenues = df_cleaned["Revenue"].values

# Calculating mean, median, and standard deviation

mean_revenue = np.mean(revenues)
median_revenue = np.median(revenues)
std_revenue = np.std(revenues)

print(f"Mean Revenue: {mean_revenue}")
print(f"Median Revenue: {median_revenue}")
print(f"Standard Deviation of Revenue: {std_revenue}")

Mean Revenue: 4918.348711063373
Median Revenue: 3466.5
Standard Deviation of Revenue: 4646.774020595719