# Assignment -01

Name : Harshita Pandey

Q1] Write a program to swap two variables without using a third variable.

In [1]:
a = 7
b = 2
a = a + b
b = a - b
a = a - b

print("After swapping: a = ",a, ", b = ", b )

After swapping: a =  2 , b =  7

Q2] Take a user’s name and age as input and print a message like: "Hello [Name], you will turn 100 years old in [Year]."

In [ ]:
name = input("Enter your name:")
age = int(input("Enter your age:"))

current_year = 2025
year = current_year + (100 - age)

print(f"Hello {name}, you will turn 100 years old in {year}.")

Q3] Write a program to check if a number is positive, negative, or zero.

In [2]:
number = int(input("Enter a number of your choice:"))
if number > 0:
    print("Positive Number.")
elif number < 0:
    print("Negative Number.")
else:
    print("The number is zero.")

Enter a number of your choice:32
Positive Number.

Q4] Print all the numbers from 1 to 50 that are divisible by both 3 and 50

In [1]:
for i in range(1,51):
    if i % 3 == 0 and i % 5 == 0:
        print(i)
    
else:
    print("No number between 1 and 50 are divisible by both 3 and 50")

15
30
45
No number between 1 and 50 are divisible by both 3 and 50

Q5] Take a string input from the user and check if it’s a palindrome (same forwards and backwards).

In [3]:
text = input("Enter a string:")
clear_str = text.replace(" ", "").lower()
if clear_str == clear_str[::-1]:
    print("It is a Palindrome.")
else:
    print("Not a Palindrome.")

Enter a string:Nahida
Not a Palindrome.

Q6] Write a program to find the second largest number in a list.

In [6]:
my_list = [2, 9, 51, 60, 19]
my_list.sort()

print(my_list[-2])

51

Q7] Create a list of all even numbers from 1 to 100 using list comprehension.

In [7]:
even_number = [num for num in range(1,101) if num % 2 == 0]
print(even_number)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

Q8] Write a program to sort a list of strings alphabetically and search for a specific string in the list.

In [4]:
mylist = ["banana", "apple", "cherry", "kiwi"]
mylist.sort()
print("Sorted list:", mylist)

#search
search_str = input("Enter a string to search:")
if search_str in mylist:
    print("Found")
else:
    print("Not found")

Sorted list: ['apple', 'banana', 'cherry', 'kiwi']
Enter a string to search:banana
Found

Q9] Remove duplicates from a list without using the set() function.

In [9]:
list1 = [1, 1, 2, 2, 2, 2, 4, 4, 4, 5, 7, 7, 9, 9, 9, 9, 9, 9]
for i in list1[:]:
    while list1.count(i) > 1:
        list1.remove(i)
print("List without Duplicates:", list1)

List without Duplicates: [1, 2, 4, 5, 7, 9]

Q10] Create a tuple with 5 integers. Calculate and print the sum, maximum, and minimum values.

In [10]:
mytuple = (10,11,12,13,16)
sum_tuple = sum(mytuple)
max_tuple = max(mytuple)
min_tuple = min(mytuple)

print("Tuple with 5 integers:", mytuple)
print("Sum of values:", sum_tuple)
print("Maximum of value:", max_tuple)
print("Minimum of values:", min_tuple)

Tuple with 5 integers: (10, 11, 12, 13, 16)
Sum of values: 62
Maximum of value: 16
Minimum of values: 10

Q11] Convert a tuple into a list, modify the list by adding a new element, and convert it back to a tuple.

In [11]:
my_tuple = (10, 20, 30, 40)
l1 = list(my_tuple)
l1.append(50)
my_tuple = tuple(l1)

print("Modified tuple after conversion is:", my_tuple)

Modified tuple after conversion is: (10, 20, 30, 40, 50)

Q12] Write a program to count the frequency of each word in a given string using a dictionary.

In [13]:
text = input("Enter a string:")
words = text.split()
frequency = {}
for i in words:
    i = i.lower()
    frequency[i] = frequency.get(i,0)+1
    
for i, count in frequency.items():
    print(f"{i}: {count}")

Enter a string:hello world hello
hello: 2
world: 1

Q13] Create a nested dictionary to store student names and their respective scores in three subjects. Print the
student with the highest total score.

In [14]:
students = {
    "Ram": {"Math": 85, "Science": 92, "English": 78},
    "Rimmy": {"Math": 75, "Science": 88, "English": 90},
    "Siya": {"Math": 95, "Science": 85, "English": 80}
}

top_student = None
highest_score = 0

for name, subjects in students.items():
    total = sum(subjects.values())
    print(f"{name}'s total score = {total}")
    
    if total > highest_score:
        highest_score = total
        top_student = name
        
print(f"\nThe student with the highest total score is {top_student} with {highest_score} marks.")

Ram's total score = 255
Rimmy's total score = 253
Siya's total score = 260

The student with the highest total score is Siya with 260 marks.

Q14] Given a dictionary of employee names and salaries, update the salary of a specific employee based on user
input.

In [15]:
employees = {
    "Ram": 50000,
    "Rimmy": 60000,
    "Rahul": 55000,
    "Kriti": 70000
}

print("Current employee salaries:", employees)

name = input("Enter the employee name to update salary: ")

if name in employees:
    new_salary = int(input(f"Enter new salary for {name}: "))
    employees[name] = new_salary
    print(f"Updated salary of {name}: {employees[name]}")
else:
    print("Employee not found!")

print("Updated employee salaries:", employees)

Current employee salaries: {'Ram': 50000, 'Rimmy': 60000, 'Rahul': 55000, 'Kriti': 70000}
Enter the employee name to update salary: Rimmy
Enter new salary for Rimmy: 75000
Updated salary of Rimmy: 75000
Updated employee salaries: {'Ram': 50000, 'Rimmy': 75000, 'Rahul': 55000, 'Kriti': 70000}

Q15] Set Operations:Write a program to find the union, intersection, and difference of two sets:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

In [16]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)  #union
intersection_set = set1.intersection(set2)  #intersection
difference_set1 = set1 - set2  # Elements in set1 but not in set2
difference_set2 = set2 - set1  # Elements in set2 but not in set1

print("Set 1:", set1)
print("Set 2:", set2)
print("Union:", union_set)
print("Intersection:", intersection_set)
print("Difference (set1 - set2):", difference_set1)
print("Difference (set2 - set1):", difference_set2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference (set1 - set2): {1, 2, 3}
Difference (set2 - set1): {8, 6, 7}